:root {
    --md-primary-fg-color: #4fa779;   /* Primary color */
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
    --md-typeset-font-size: 18px;       /* Base font size */
    --md-typeset-line-height: 2.0;      /* Line height */
    
  }